
<section ng-controller="TrackController as tracks" class="center white big middle">
    <h1 class="white bigger center title">Fifty Fifty</h1>
    <div ng-repeat="artist in tracks.all.artists">
    <h1>{{ artist.name }}</h3>
    </div>
    <h3>{{tracks.all.name}}</h3>
  
  <div class="innerCenter">
    <span>
        <i ng-click="tracks.postDislikes()"class="fa fa-times-circle-o fa-3x"></i>
    </span>
    <span>
        <i ng-click="tracks.postLikes()"class="fa fa-heart fa-3x"></i>
    </span>
  </div>

</section>

