.body {
	background-image: url("http://www.metrowallpapers.com/wallpapers/blue_music_background-1280x800.jpg");
	background-size: cover;
}
.center {
	text-align: center;
}

.white {
	color: white;
}

.big {
	font-size: 50px;
}